name: Deployment to VPS 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH into VPS and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
            sudo -i bash <<'EOF'
            cd /root/fusionpact-devops-challenge
            git checkout main
            git pull origin main
            sudo docker compose down
            sudo docker compose up --build -d && docker image prune -f 
            EOF
